.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Ensure background stays contained */
}

.Load-logo {
  width: 500px;
  animation-name: logo-animate;
  animation-duration: 4s; /* Increased duration for smoother effect */
  animation-timing-function: ease-in-out; /* Smooth easing */
  animation-iteration-count: 1;
}

.background-gif {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 3s ease-in-out forwards; /* Fade-in effect for smoother transition */
}

/* Loader animation */
@keyframes logo-animate {
  0% {
    transform: translateX(-300px);
    opacity: 0; /* Make logo invisible at start */
  }
  50% {
    transform: translateY(500px) rotate(360deg);
    opacity: 1; /* Logo becomes visible */
  }
  100% {
    transform: translateX(0) rotate(360deg); /* Keep the rotation but reset the position */
    opacity: 1;
  }
}

/* Background gif fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
